$prefix: jammin;
$ns: .$(prefix)-btn;

/* prettier-ignore */
$(ns) {
  @apply inline-flex flex-wrap items-center justify-center border-solid bg-transparent font-pretendard text-center select-none cursor-pointer no-underline;

  /* default */
  & {
    @apply text-[var(--jammin-gray-color-main)] focus:ring-2 ring-[var(--jammin-primary-color-light)] outline-none;
    /* focus-visible:input-focus; */
  }

  /* sizes */
  &-xs {
    @apply py-0 px-[7px] min-h-[18px] text-xs;
  }

  &-sm {
    @apply py-0 px-[7px] min-h-[24px] text-sm;
  }

  &-md {
    @apply py-[3px] px-[15px] min-h-[32px] text-base;
  }

  &-lg {
    @apply py-[5px] px-[15px] min-h-[40px] text-lg;
  }

  /* block */
  &-block {
    @apply w-full;
  }

  /* shape */
  &-round {
    @apply rounded-[var(--jammin-rounded)];
  }

  &-circle {
    &:where($(ns)-xs) {
      @apply p-0 h-6 w-6 rounded-full;
    }

    &:where($(ns)-sm) {
      @apply p-0 h-8 w-8 rounded-full;
    }

    &:where($(ns)-md) {
      @apply p-0 h-12 w-12 rounded-full;
    }

    &:where($(ns)-lg) {
      @apply p-0 h-16 w-16 rounded-full;
    }
  }

  /* variant */
  &-text {
    @apply text-[var(--jammin-gray-color-main)] border-0;

    &:hover:not($(ns)-disabled) {
      @apply bg-[var(--jammin-gray-color-light)];
    }

    &$(ns)-primary {
      @apply text-[var(--jammin-primary-color-main)];

      &:hover:not($(ns)-disabled) {
        @apply bg-[var(--jammin-primary-color-light)];
      }
    }

    &$(ns)-secondary {
      @apply text-[var(--jammin-secondary-color-main)];

      &:hover:not($(ns)-disabled) {
        @apply bg-[var(--jammin-secondary-color-light)];
      }
    }

    &$(ns)-success {
      @apply text-[var(--jammin-success-color-main)];

      &:hover:not($(ns)-disabled) {
        @apply bg-[var(--jammin-success-color-light)];
      }
    }

    &$(ns)-error {
      @apply text-[var(--jammin-error-color-main)];

      &:hover:not($(ns)-disabled) {
        @apply bg-[var(--jammin-error-color-light)];
      }
    }

    &$(ns)-info {
      @apply text-[var(--jammin-info-color-main)];

      &:hover:not($(ns)-disabled) {
        @apply bg-[var(--jammin-info-color-light)];
      }
    }

    &$(ns)-warning {
      @apply text-[var(--jammin-warning-color-main)];

      &:hover:not($(ns)-disabled) {
        @apply bg-[var(--jammin-warning-color-light)];
      }
    }

    &$(ns)-dark {
      @apply text-[var(--jammin-dark-color-main)];

      &:hover:not($(ns)-disabled) {
        @apply bg-[var(--jammin-dark-color-light)];
      }
    }
  }

  &-contained {
    @apply bg-[var(--jammin-gray-color-main)] text-white;

    &:hover:not($(ns)-disabled) {
      @apply bg-[var(--jammin-gray-color-light)];
    }

    &$(ns)-primary {
      @apply bg-[var(--jammin-primary-color-main)] text-white;

      &:hover:not($(ns)-disabled) {
        @apply bg-[var(--jammin-primary-color-light)];
      }
    }

    &$(ns)-secondary {
      @apply bg-[var(--jammin-secondary-color-main)] text-white;

      &:hover:not($(ns)-disabled) {
        @apply bg-[var(--jammin-secondary-color-light)];
      }
    }

    &$(ns)-success {
      @apply bg-[var(--jammin-success-color-main)] text-white;

      &:hover:not($(ns)-disabled) {
        @apply bg-[var(--jammin-success-color-light)];
      }
    }

    &$(ns)-error {
      @apply bg-[var(--jammin-error-color-main)] text-white;

      &:hover:not($(ns)-disabled) {
        @apply bg-[var(--jammin-error-color-light)];
      }
    }

    &$(ns)-info {
      @apply bg-[var(--jammin-info-color-main)] text-white;

      &:hover:not($(ns)-disabled) {
        @apply bg-[var(--jammin-info-color-light)];
      }
    }

    &$(ns)-warning {
      @apply bg-[var(--jammin-warning-color-main)] text-white;

      &:hover:not($(ns)-disabled) {
        @apply bg-[var(--jammin-warning-color-light)];
      }
    }

    &$(ns)-dark {
      @apply bg-[var(--jammin-dark-color-main)] text-white;

      &:hover:not($(ns)-disabled) {
        @apply bg-[var(--jammin-dark-color-light)]
      }
    }
  }

  &-outlined,
  &-dashed {
    @apply border-[var(--jammin-gray-color-light)] bg-white text-[var(--jammin-gray-color-main)] border-[length:var(--jammin-border-width)];

    &:hover:not($(ns)-disabled) {
      @apply bg-[var(--jammin-gray-color-light)];
    }

    &$(ns)-primary {
      @apply border-[var(--jammin-primary-color-main)] text-[var(--jammin-primary-color-main)];

      &:hover:not($(ns)-disabled) {
        @apply bg-[var(--jammin-gray-color-light)];
      }
    }

    &$(ns)-secondary {
      @apply border-[var(--jammin-secondary-color-main)] text-[var(--jammin-secondary-color-main)];

      &:hover:not($(ns)-disabled) {
        @apply bg-[var(--jammin-secondary-color-light)];
      }
    }

    &$(ns)-success {
      @apply border-[var(--jammin-success-color-main)] text-[var(--jammin-success-color-main)];

      &:hover:not($(ns)-disabled) {
        @apply bg-[var(--jammin-success-color-light)];
      }
    }

    &$(ns)-error {
      @apply border-[var(--jammin-error-color-main)] text-[var(--jammin-error-color-main)];

      &:hover:not($(ns)-disabled) {
        @apply bg-[var(--jammin-error-color-light)];
      }
    }

    &$(ns)-info {
      @apply border-[var(--jammin-info-color-main)] text-[var(--jammin-info-color-main)];

      &:hover:not($(ns)-disabled) {
        @apply bg-[var(--jammin-info-color-light)];
      }
    }

    &$(ns)-warning {
      @apply border-[var(--jammin-warning-color-main)] text-[var(--jammin-warning-color-main)];

      &:hover:not($(ns)-disabled) {
        @apply bg-[var(--jammin-warning-color-light)];
      }
    }

    &$(ns)-dark {
      @apply border-[var(--jammin-dark-color-main)] text-[var(--jammin-dark-color-main)];

      &:hover:not($(ns)-disabled) {
        @apply bg-[var(--jammin-dark-color-light)];
      }
    }
  }

  &-dashed {
    @apply border-dashed;
  }

  /* icon */
  &-start-icon,
  &-end-icon {
    display: inherit;
  }

  &-start-icon {
    @apply mr-2;
  }

  &-end-icon {
    @apply ml-2;
  }

  svg {
    @apply inline-block fill-current select-none;
    width: 1em;
    height: 1em;
    font-size: inherit;
  }

  >span>.icon,
  >.icon {
    &-xs {
      svg {
        @apply text-lg;
      }
    }

    &-sm {
      svg {
        @apply text-xl;
      }
    }

    &-md {
      svg {
        @apply text-2xl;
      }
    }

    &-lg {
      svg {
        @apply text-3xl;
      }
    }
  }

  /* disabled */
  &-disabled,
  &:disabled {
    @apply text-[var(--jammin-disable-text-color)] cursor-not-allowed;

    &:where($(ns)-contained) {
      @apply border-[var(--jammin-disable-border-color)] bg-[var(--jammin-disable-background)];
    }

    &:where($(ns)-outlined, $(ns)-dashed) {
      @apply border-[var(--jammin-disable-border-color)];
    }
  }
}

$ns-ex: .jammin-btn-ex;

$(ns-ex) {
  & {
    @apply relative flex items-center justify-center px-4 py-[10px] transition-colors text-body-action13;
  }

  /* focus */
  & {
    @apply outline-none ring-[color:var(--jammin-focus-outline-color)] ring-offset-[length:var(--jammin-focus-outline-offset)] focus:ring-[length:var(--jammin-focus-outline-size)];
  }

  /* hover */
  & {
    @apply before:z-0 hover:before:absolute hover:before:h-full hover:before:w-full hover:before:bg-black/10;
  }

  /* disabled */
  & {
    @apply disabled:cursor-[var(--jammin-disable-cursor)] disabled:border-0 disabled:border-[var(--jammin-disable-border-color)] disabled:bg-[var(--jammin-disable-background)] disabled:text-[var(--jammin-disable-text-color)];
  }

  /* disabled hover */
  & {
    @apply disabled:hover:border-[var(--jammin-disable-border-color)] disabled:hover:bg-[var(--jammin-disable-background)] disabled:hover:text-[var(--jammin-disable-text-color)] disabled:hover:before:hidden;
  }

  &-content {
    @apply flex items-center justify-center;
  }

  &-gray {
    & {
      @apply border-[var(--jammin-gray-color-main)] bg-[var(--jammin-gray-color-main)] text-[var(--jammin-gray-color-main)];
    }
  }

  &-twotone-gray {
    & {
      @apply border-[var(--jammin-gray-color-light)] bg-[var(--jammin-gray-color-light)] text-[var(--jammin-gray-color-main)];
    }
  }

  &-primary {
    @apply border-[var(--jammin-primary-color-main)] bg-[var(--jammin-primary-color-main)] text-[var(--jammin-primary-color-main)];
  }

  &-twotone-primary {
    & {
      @apply border-[var(--jammin-primary-color-light)] bg-[var(--jammin-primary-color-light)] text-[var(--jammin-primary-color-main)];
    }
  }

  &-secondary {
    @apply border-[var(--jammin-secondary-color-main)] bg-[var(--jammin-secondary-color-main)] text-[var(--jammin-secondary-color-main)];
  }

  &-twotone-secondary {
    & {
      @apply border-[var(--jammin-secondary-color-light)] bg-[var(--jammin-secondary-color-light)] text-[var(--jammin-secondary-color-main)];
    }
  }

  &-error {
    @apply border-[var(--jammin-error-color-main)] bg-[var(--jammin-error-color-main)] text-[var(--jammin-error-color-main)];
  }

  &-twotone-error {
    & {
      @apply border-[var(--jammin-error-color-light)] bg-[var(--jammin-error-color-light)] text-[var(--jammin-error-color-main)];
    }
  }

  &-info {
    @apply border-[var(--jammin-info-color-main)] bg-[var(--jammin-info-color-main)] text-[var(--jammin-info-color-main)];
  }

  &-twotone-info {
    & {
      @apply border-[var(--jammin-info-color-light)] bg-[var(--jammin-info-color-light)] text-[var(--jammin-info-color-main)];
    }
  }

  &-success {
    @apply border-[var(--jammin-success-color-main)] bg-[var(--jammin-success-color-main)] text-[var(--jammin-success-color-main)];
  }

  &-twotone-success {
    & {
      @apply border-[var(--jammin-success-color-light)] bg-[var(--jammin-success-color-light)] text-[var(--jammin-success-color-main)];
    }
  }

  &-warning {
    @apply border-[var(--jammin-warning-color-main)] bg-[var(--jammin-warning-color-main)] text-[var(--jammin-warning-color-main)];
  }

  &-twotone-warning {
    & {
      @apply border-[var(--jammin-warning-color-light)] bg-[var(--jammin-warning-color-light)] text-[var(--jammin-warning-color-main)];
    }
  }

  &-dark {
    @apply border-[var(--jammin-dark-color-main)] bg-[var(--jammin-dark-color-main)] text-[var(--jammin-dark-color-main)];
  }

  &-twotone-dark {
    & {
      @apply border-[var(--jammin-dark-color-light)] bg-[var(--jammin-dark-color-light)] text-[var(--jammin-dark-color-main)];
    }
  }

  &-bordered,
  &-dashed {
    & {
      @apply border bg-transparent;
    }
    /* hover */
    & {
      @apply hover:bg-transparent hover:before:bg-black/5;
    }
  }

  &-dashed {
    & {
      @apply border-dashed;
    }
  }

  &-fill {
    & {
      @apply text-white;
    }
    /* hover */
    & {
      @apply hover:text-white  hover:before:bg-black/20;
    }
  }

  &-text {
    & {
      @apply bg-transparent;
    }

    /* diabled */
    & {
      @apply disabled:bg-transparent hover:disabled:bg-transparent;
    }
    /* hover */
    & {
      @apply hover:bg-transparent hover:before:bg-black/5;
    }
  }

  &-round {
    @apply rounded-[var(--jammin-rounded)] before:rounded-[var(--jammin-rounded)];
  }

  &-round-full {
    @apply rounded-full before:rounded-full;
  }

  &-circle-sm {
    @apply h-[var(--jammin-control-height-sm)] w-[var(--jammin-control-height-sm)] rounded-full p-0 before:rounded-full;
  }

  &-circle-md {
    @apply h-[var(--jammin-control-height)] w-[var(--jammin-control-height)] rounded-full p-0 before:rounded-full;
  }

  &-circle-lg {
    @apply h-[var(--jammin-control-height-lg)] w-[var(--jammin-control-height-lg)] rounded-full p-0 before:rounded-full;
  }

  &-sm {
    @apply h-[var(--jammin-control-height-sm)];
  }

  &-md {
    @apply h-[var(--jammin-control-height)];
  }

  &-lg {
    @apply h-[var(--jammin-control-height-lg)];
  }

  &-prefix,
  &-suffix {
    @apply text-[1rem];
    display: inherit;
  }

  &-prefix {
    @apply mr-2;
  }

  &-suffix {
    @apply ml-2;
  }

  svg {
    @apply inline-block h-[1em] w-[1em] select-none fill-current text-inherit;
  }

  span {
    @apply z-[1];
  }
}
