$prefix: jammin;
$ns: .$(prefix)-checkbox;

$(ns) {
  /* wrapper */
  &-wrapper {
    @apply relative inline-flex cursor-pointer items-center;
  }

  /* checkbox */
  &-checkbox {
    @apply relative m-0 box-border inline-flex cursor-pointer select-none appearance-none items-center justify-center border-0 bg-transparent p-1 align-middle text-[(var(--jammin-text-color))] no-underline;

    input {
      @apply border-[1px] border-solid border-[var(--jammin-border-color)];
    }
    /* input */
    $(ns)-input[type="checkbox"] {
      @apply relative m-0 h-16pxr w-16pxr cursor-[inherit] appearance-none rounded-[var(--jammin-rounded-sm)] border-[length:var(--jammin-border-width)] bg-white p-0 outline-offset-0;
      /* focus-visible:input-focus; */
      &:checked {
        &:disabled {
          @apply opacity-20;
        }
        &[data-color="primary"] {
          @apply border-[var(--jammin-primary-color-main)] bg-[var(--jammin-primary-color-main)];
        }

        &[data-color="secondary"] {
          @apply border-[var(--jammin-secondary-color-main)] bg-[var(--jammin-secondary-color-main)];
        }

        &[data-color="success"] {
          @apply border-[var(--jammin-success-color-main)] bg-[var(--jammin-success-color-main)];
        }

        &[data-color="error"] {
          @apply border-[var(--jammin-error-color-main)] bg-[var(--jammin-error-color-main)];
        }

        &[data-color="info"] {
          @apply border-[var(--jammin-info-color-main)] bg-[var(--jammin-info-color-main)];
        }

        &[data-color="warning"] {
          @apply border-[var(--jammin-warning-color-main)] bg-[var(--jammin-warning-color-main)];
        }

        &[data-color="dark"] {
          @apply border-[var(--jammin-dark-color-main)] bg-[var(--jammin-dark-color-main)];
        }
        &::after {
          @apply absolute left-[15%] top-[-45%] text-base content-[url('@icons/ic_checkbox_checked.svg')];
        }
      }

      &[data-indeterminate="true"] {
        & {
          @apply border-[var(--jammin-primarycolor-main)] bg-[var(--jammin-primary-color-main)];
        }

        &::after {
          @apply absolute left-[15%] top-[-70%] text-base content-[url('@icons/ic_checkbox_indeterminate.svg')];
        }
      }
    }

    svg {
      @apply flex h-max w-max select-none fill-current;
    }

    &:has(.use-icon) {
      $(ns)-input[type="checkbox"] {
        @apply bg-transparent;
      }
    }
  }

  /* size */
  &-wrapper {
    /* &$(ns)-sm {
      $(ns)-checkbox {
        input {
          @apply text-lg;
        }

        svg {
          @apply text-2xl;
        }
      }

      $(ns)-label {
        @apply text-sm;
      }
    } */

    &$(ns)-md {
      $(ns)-checkbox {
        input {
          @apply text-[16px];
        }

        svg {
          @apply text-[16px];
        }
      }

      $(ns)-label {
        @apply text-base;
      }
    }

    /* &$(ns)-lg {
      $(ns)-checkbox {
        input {
          @apply text-2xl;
        }

        svg {
          @apply text-4xl;
        }
      }

      $(ns)-label {
        @apply text-lg;
      }
    } */
  }

  /* color */
  &-wrapper:where($(ns)-checked, $(ns)-indeterminate):not($(ns)-disabled) {
    /* default */
    /* $(ns)-checkbox {
     @apply text-[(var(--jammin-text-color))];
    } */

    /* primary */
    &$(ns)-primary $(ns)-checkbox {
      @apply text-[var(--jammin-primary-color-main)];
    }

    /* secondary */
    &$(ns)-secondary $(ns)-checkbox {
      @apply text-[var(--jammin-secondary-color-main)];
    }

    /* success */
    &$(ns)-success $(ns)-checkbox {
      @apply text-[var(--jammin-success-color-main)];
    }

    /* error */
    &$(ns)-error $(ns)-checkbox {
      @apply text-[var(--jammin-error-color-main)];
    }

    /* info */
    &$(ns)-info $(ns)-checkbox {
      @apply text-[var(--jammin-info-color-main)];
    }

    /* warning */
    &$(ns)-warning $(ns)-checkbox {
      @apply text-[var(--jammin-warning-color-main)];
    }

    /* dark */
    &$(ns)-dark $(ns)-checkbox {
      @apply text-neutral-800;
    }
  }

  /* label */
  &-label {
    @apply m-0 font-pretendard tracking-[0.00938em];
  }

  /* disabled */
  &-disabled {
    @apply cursor-not-allowed;

    $(ns)-checkbox {
      @apply cursor-not-allowed text-[var(--jammin-disable-border-color)];
    }

    $(ns)-label {
      @apply text-[var(--jammin-disable-border-color)];
    }
  }
}
