$prefix: jammin;
$ns: .$(prefix)-link;

/* prettier-ignore */
$(ns) {

  /* default */
  & {
    @apply inline-flex items-center relative m-0 p-0 rounded-none border-0 bg-transparent cursor-pointer appearance-none underline-offset-[0.25em];
    /* focus-visible:input-focus; */
  }

  /* component button */
  button& {
    @apply select-none;
  }

  /* underline */
  &-underline-none {
    @apply no-underline;
  }

  &-underline-hover {
    @apply no-underline hover:underline;
  }

  &-underline-always {
    @apply underline;
  }

  /* overlay */
  &-overlay {
    position: initial;

    :after {
      @apply content-[''] block absolute inset-0;
    }
  }

  /*  svg */
  svg {
    @apply text-[1.25em] text-current;
  }

  /* size */
  &-xs {
    @apply text-xs;
  }

  &-sm {
    @apply text-sm;
  }

  &-md {
    @apply text-base;
  }

  &-lg {
    @apply text-lg;
  }

  /* color */
  &:not($(ns)-disabled) {
    /* default */
    @apply text-[(var(--bc-text-color))];

    /* primary */
    &$(ns)-primary {
      @apply text-[var(--bc-primary-color-main)];
    }

    /* secondary */
    &$(ns)-secondary {
      @apply text-[var(--bc-secondary-color-main)];
    }

    /* success */
    &$(ns)-success {
      @apply text-[var(--bc-success-color-main)];
    }

    /* error */
    &$(ns)-error {
      @apply text-[var(--bc-error-color-main)];
    }

    /* info */
    &$(ns)-info {
      @apply text-[var(--bc-info-color-main)];
    }

    /* warning */
    &$(ns)-warning {
      @apply text-[var(--bc-warning-color-main)];
    }

    /* dark */
    &$(ns)-dark {
      @apply text-neutral-800;
    }
  }

  /* disabled */
  &-disabled,
  &:disabled {
    @apply text-gray-250 cursor-not-allowed;
  }
}
